<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/home/home.css">
    <link rel="stylesheet" href="/templates/style.css">
    <title>Upload JSON</title>
</head>
<body>
    <a href="hosts">
        <button class="button-theme">See All Hosts</button>
    </a>
    <br><br>
    <br><br>

    <div class="form-container">
        <div class="form-item">
            <h1>Upload Host Data</h1>
            <form action="{{ url_for('main.upload') }}" method="post" enctype="multipart/form-data">
                <div class="labels">
                    <label for="hostfile">Select Host File:</label>
                    <input type="file" name="file" accept=".json" required>
                </div>
                <input type="submit" value="upload">
            </form>
        </div>
        <h2>or</h2>

        <div class="form-item">
            
            <h1>Upload Host Data and EVTX File</h1>
            <form action="{{ url_for('main.upload_evtx') }}" method="post" enctype="multipart/form-data">
                <div class="labels">
                    <label for="hostfile">Select Host File:</label>
                    <input type="file" name="hostfile" accept=".json" required>
                </div>
                <div class="labels">
                    <label for="evtxfile">Select EVTX File:</label>
                    <input type="file" name="evtxfile" accept=".evtx" required>
                </div>
                <input type="submit" value="upload">
            </form>
        </div>
    </div>

</body>
</html>
