body {
    font-family: Arial, sans-serif; /* Use a clean, readable font */
    background-color: #f5f5f5; /* Light background color */
    color: #333; /* Dark text color */
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
    margin-top: 20px;
    color: #333;
}

h2 {
    font-size: 1.5em;
    margin-top: 15px;
    color: #666;
}

.form-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    margin-top: 50px;
    background-color: #f5f5f5;
    
}

.form-item {
    flex: 1;
    margin: 0 20px;
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

input[type="file"], input[type="submit"] {
    font-size: 16px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

input[type="submit"]:hover {
    background-color: white; /* White background on hover */
    color: #4CAF50; /* Green text on hover */
    border: 1px solid #4CAF50; /* Maintain border on hover */
}

.labels {
    text-align: left;
    margin-bottom: 10px;
}

a {
    display: inline-block;
    text-align: right;
    margin-top: 15px;
    margin-right: 20px;
    margin-left:1340px;
}

.button-theme {
    background-color: #4CAF50; /* Green background */
    border: 1px solid #4CAF50; /* Matching green border */
    color: white; /* White text */
    padding: 10px 20px; /* Padding for size */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline from text */
    font-size: 16px; /* Font size */
    font-weight: bold; /* Bold text */
    border-radius: 8px; /* Rounded corners */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
    cursor: pointer; /* Pointer cursor on hover */
}

.button-theme:hover {
    background-color: white; /* White background on hover */
    color: #4CAF50; /* Green text on hover */
    border: 1px solid #4CAF50; /* Maintain border on hover */
}

.pl-5{
    padding-left: 30rem;
}

.custom-toast {
    width: 3000px; /* Adjust width */
    height: 100px; /* Adjust height */
    padding: 10px; /* Adjust padding if needed */
}

#loading-spinner {
    width: 100px;  /* Adjust width */
    height: 100px; /* Adjust height */
}

#loading-spinner i {
    font-size: 3rem; /* Adjust spinner icon size */
}
