<!DOCTYPE html>
<html>
<head>
    <title>Log Level Graph</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.3"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <link rel="stylesheet" href="/templates/liveLogs/liveLogs.css">
</head>
<body>
    <a href="hosts">
        <button class="button-theme">See All Hosts</button>
    </a>    
    <br><br>
    <div class="status-summary">
        <div class="status-item">
            <i class="fas fa-radiation" title="Critical" style="font-size:36px;color:orange"></i> 
            <div class="status-info">
                <span class="status-count">0</span>
                <span class="status-label">Critical</span>
            </div>
        </div>

        <div class="status-item">
            <i class="fa fa-exclamation-triangle" title="Warning" style="font-size:36px;color:#ffcc00"></i>
            <div class="status-info">
                <span class="status-count">0</span>
                <span class="status-label">Warning</span>
            </div>
        </div>

        <div class="status-item">
            <i class="fas fa-comments" title="Verbose" style="font-size:36px;color:#40a116"></i>
            <div class="status-info">
                <span class="status-count">0</span>
                <span class="status-label">Verbose</span>
            </div>
        </div>

        <div class="status-item">
            <i class="fa fa-bug" title="Error" style="font-size:36px;color:#cc3300"></i>
            <div class="status-info">
                <span class="status-count">0</span>
                <span class="status-label">Error</span>
            </div>
        </div>

        <div class="status-item">
            <i class="fa fa-info-circle" title="Information" style="font-size:40px;color:#2196F3"></i>
            <div class="status-info">
                <span class="status-count">0</span>
                <span class="status-label">Information</span>
            </div>
        </div>
        <!-- Add additional status items here -->
    </div>

    <div class="main-container">
        <div class="chart-container">
            <h2>Windows Severity Events</h2>
            <canvas id="logChart1", style="border:0.5px solid #000000;"></canvas>
        </div>

        <div class="chart-container">
            <h2>Logs Trend Distribution for last 5 Years</h2>
            <canvas id="logChart2", style="border:0.5px solid #000000;"></canvas>
        </div>
    </div>

    <br><br>

    <div class="chart-container">
        <h2>Log Event Distribution by Provider Name</h2>
        <div id="treeMap" style="width: 100%; height: 500px;border:0.5px solid #000000;box-sizing: border-box;"></div>
    </div>        
    
    <div class="chart-container">
        <h2>Logs Trend Distribution for today</h2>
        <canvas id="logChart4", style="border:0.5px solid #000000;"></canvas>
    </div>

    <div id="formData" 
         data-hostname="{{ form_data['hostname'] }}"
         data-username="{{ form_data['username'] }}"
         data-password="{{ form_data['password'] }}"
         style="display:none;"></div>

         <script src="/templates/liveLogs/liveLogs.js"></script>
        
</body>
</html>
